*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color:blanchedalmond;
}
header img{
    width: 100%;
    border-radius: 15px;
}
.user{
    background-color: #FFF7FC;
    padding: 10px;
    border-radius: 10px;
}
.main{
    color: sienna;
}
table{
    width: 100%;
    border-collapse: collapse;
}
caption{
    text-align: left;
    margin-bottom: 10px;
}
th,td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    color: sienna;
    font-weight: bold;
}
.header{
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
@media(max-width:600px){
    .header{
        margin: 0;
        padding: 20px;
        border-radius: 0;
    }
    header img{
        width: 100%;
    }
}
